header {

  nav {
    width: $full_width;
    height: $height_nav;
    background-color: $primary_bg_color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.3);

    #nav-logo {
      height: $full_height;
      @include display-flex;
      align-items: center;
      padding: $padding_unit / 2 0;

      a {
        display: block;
        height: $full_height;

        img {
          height: $full_height;
          border-radius: 10px;
        }
      }
    }

    #nav-right {
      height: $full_height;
      @include display-flex;
      align-items: center;
    }
  }

  #jumbotron {
    padding-top: $height_nav + $padding_unit;
    padding-bottom: $padding_unit;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, $gradient_primary 0%, $gradient_secondary 50%, $gradient_third 100%);

    .jumbo-info {
      width: 100%;

      .jumbo-img {
        width: $width_unit * 3;
        margin: 0 auto $margin_unit * 4;

        a {
          display: block;
          width: $full_width;

          img {
            width: $full_width;
            border-radius: 50%;
          }
        }
      }

      .jumbo-box {
        padding-left: $padding_unit * 3;
      }
    }
  }
}

nav .row {
  height: $full_height;
  @include display-flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

  header #jumbotron {
    .jumbo-info {
      @include display-flex;
      justify-content: space-around;
      align-items: center;

      .jumbo-img {
        width: $width_unit * 8;
        margin: 0;
      }
    }
  }
}
